<p><a href="/">Home</a></p>
<h1>All Teams</h1>


<% @teams.each do |team| %>
  <h3><%= link_to team.name, "/teams/#{team.id}" %> /  <%= link_to "Members", "/teams/#{team.id}/members" %></h3>
<% end %>
