<% @members.each do |member| %>
  <h3><%= link_to member.name, "/members/#{member.id}" %></h3>
  <p>Wage: <%= member.wage %></p>
  <p>Injured? <%= member.injured %></p>
  <p>Team: <%= member.team.name %></p>
<% end %>